Repository boostcamp-2020/IssueTracker-20, pull requests merged in 2020-10, with the labels that each got.

#17 Sequelize 초기 설정 및 모델 작성
  .env.sample
  .gitignore
  .gitmessage.txt
  .sequelizerc
  package-lock.json
  package.json
  src/backend/config/config.js
  src/backend/models/Comment.js
  src/backend/models/Issue.js
  src/backend/models/IssueLabel.js
  src/backend/models/Label.js
  src/backend/models/Milestone.js
  src/backend/models/User.js
  src/backend/models/index.js
Labels: backend

#20 Issue와 Label관계 M:N으로 수정
  src/backend/app.js
  src/backend/config/config.js
  src/backend/models/Comment.js
  src/backend/models/Issue.js
  src/backend/models/IssueLabel.js
  src/backend/models/Label.js
  src/backend/models/Milestone.js
  src/backend/models/User.js
  src/backend/models/index.js
Labels: backend

#27 feat(login-api): GET /auth 경로 설정
  .env.sample
  src/backend/app.js
  src/backend/controllers/passport.js
  src/backend/middlewares/auth.js
  src/backend/routes/auth.js
  src/backend/routes/index.js
Labels: backend

#29 User와 Comment사이 1:N관계 추가
  src/backend/models/User.js
Labels: backend

#40 로그인 필요시 로그인 컴포넌트로 이동하도록 수정
  src/frontend/components/App.jsx
  src/frontend/components/Main/Main.jsx
Labels: frontend

#43 global theme 생성
  src/frontend/index.js
  src/frontend/theme/index.js
Labels: frontend

#42 chore: lint CLI명령어 추가
  package.json
Labels: devops

#48 feat: 로그인 인증 기능 구현
  src/frontend/util/auth.js
  src/frontend/util/cookie.js
Labels: frontend

#49 프론트엔드 로그인 페이지 완성
  src/frontend/components/Login/GitHub.svg
  src/frontend/components/Login/LoginPage.jsx
  src/frontend/theme/index.js
Labels: frontend
