Repository boostcamp-2020/IssueTracker-20, pull requests merged in 2020-11, with the labels that each got.

#54 fix(user-db): User table에 profile pic 넣는 과정 추가.
  src/backend/controllers/passport.js
Labels: bug

#66 Label, Milestone 테이블 title 추가, 샘플 seed 추가 코드 작성
  src/backend/config/config.js
  src/backend/models/Label.js
  src/backend/models/Milestone.js
  src/backend/seeders/1.User.js
  src/backend/seeders/2.Milestone.js
  src/backend/seeders/3.Label.js
  src/backend/seeders/4.Issue.js
  src/backend/seeders/5.Comment.js
  src/backend/seeders/6.Assignee.js
  src/backend/seeders/7.IssueLabel.js
Labels: backend, bug, devops

#68 feat : 이슈 페이지 생성
  src/frontend/components/Issue/IssuePage.jsx
  src/frontend/components/Issue/index.js
Labels: frontend

#70 이슈 목록 조회 페이지 CSS 수정
  src/frontend/components/App.jsx
  src/frontend/components/Common/Button.js
  src/frontend/components/Issue/IssuePage.jsx
  src/frontend/theme/index.js
Labels: frontend

#72 404 에러 페이지 생성 및 라우터 처리
  src/frontend/components/App.jsx
  src/frontend/components/Main/Main.jsx
  src/frontend/components/Main/index.js
  src/frontend/components/NotFound/NotFound.jsx
  src/frontend/components/NotFound/index.js
Labels: frontend

#78 1104 - 1
  .github/ISSUE_TEMPLATE/backend.md
  .github/ISSUE_TEMPLATE/frontend.md
  .github/ISSUE_TEMPLATE/story.md
  README.md
  package-lock.json
  package.json
  src/backend/app.js
  src/backend/config/config.js
  src/backend/controllers/issues.js
  src/backend/controllers/labels.js
  src/backend/controllers/milestones.js
  src/backend/controllers/passport.js
  src/backend/devserver.js
  src/backend/middlewares/auth.js
  src/backend/models/Comment.js
  src/backend/models/Issue.js
  src/backend/models/Label.js
  src/backend/models/Milestone.js
  src/backend/models/User.js
  src/backend/routes/auth.js
  src/backend/routes/index.js
  src/backend/routes/issues.js
  src/backend/routes/labels.js
  src/backend/routes/milestones.js
  src/backend/seeders/1.User.js
  src/backend/seeders/2.Milestone.js
  src/backend/seeders/3.Label.js
  src/backend/seeders/4.Issue.js
  src/backend/seeders/5.Comment.js
  src/backend/seeders/6.Assignee.js
  src/backend/seeders/7.IssueLabel.js
  src/frontend/components/App.jsx
  src/frontend/components/Common/Button.js
  src/frontend/components/Issue/IssuePage.jsx
  src/frontend/components/Issue/index.js
  src/frontend/components/Main/Main.jsx
  src/frontend/components/Main/index.js
  src/frontend/components/NotFound/NotFound.jsx
  src/frontend/components/NotFound/index.js
  src/frontend/theme/index.js
  src/frontend/util/eventHandler.js
Labels: backend, devops, frontend

#73 이슈 컴포넌트 구현
  src/frontend/components/App.jsx
  src/frontend/components/Issue/Issue.jsx
  src/frontend/components/Issue/IssuePage.jsx
  src/frontend/components/Issue/closeIssue.svg
  src/frontend/components/Issue/comment.svg
  src/frontend/components/Issue/index.js
  src/frontend/components/Issue/milestone.svg
  src/frontend/components/Issue/openIssue.svg
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/IssuePage/index.js
  src/frontend/theme/index.js
  src/frontend/util/date.js
Labels: frontend

#77 이슈 템플릿 컴포넌트
  src/frontend/components/App.jsx
  src/frontend/components/IssueForm/GearIcon.svg
  src/frontend/components/IssueForm/IssueForm.jsx
  src/frontend/components/IssueForm/Sidebar.jsx
  src/frontend/components/IssueForm/index.js
  src/frontend/util/eventHandler.js
  src/frontend/util/imgurEventHandler.js
Labels: frontend

#83 이전 버전의 IssuePage가 올라간 것 수정
  src/frontend/components/IssuePage/IssuePage.jsx
Labels: bug

#80 페이지 width값 변경
  src/frontend/components/IssuePage/IssuePage.jsx
Labels: frontend

#85 이슈 상세 BE 라우팅: GET /issues/:id
  src/backend/controllers/issues.js
  src/backend/models/Comment.js
Labels: backend

#88 feat(filterModal) : 필터 버튼의 드롭다운 메뉴 생성
  src/frontend/components/IssuePage/FilterButton.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/theme/index.js
Labels: frontend

#94 IssuePage api 연결, useFetch 함수
  src/frontend/babel.config.js
  src/frontend/components/Issue/Issue.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/util/useFetch.js
  src/frontend/webpack.config.js
Labels: frontend

#96 bug: date 객체 타입에러
  src/frontend/components/Issue/Issue.jsx
  src/frontend/util/date.js
Labels: bug

#98 Feat : sort 드롭다운 박스 생성
  src/frontend/components/IssuePage/FilterButton.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/IssuePage/SortButton.jsx
Labels: frontend

#99 모달 창 안에 들어가는 라벨 컴포넌트 구현 (LabelInModal.js) 및 seed URL 유효한 것으로 수정
  src/backend/seeders/1.User.js
  src/frontend/components/LabelInModal/LabelInModal.jsx
  src/frontend/components/LabelInModal/index.js
  src/frontend/theme/index.js
  src/frontend/util/textReduce.js
Labels: bug, devops, frontend

#104 IssueDetail 컴포넌트, Comment 관련 컴포넌트 작업완료 및 라우팅 작업
  src/frontend/components/App.jsx
  src/frontend/components/Issue/Issue.jsx
  src/frontend/components/IssueDetail/CommentList.jsx
  src/frontend/components/IssueDetail/IssueDetail.jsx
  src/frontend/components/IssueDetail/index.js
  src/frontend/components/IssueForm/IssueForm.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/Sidebar/Sidebar.jsx
  src/frontend/components/Sidebar/index.js
  src/frontend/resources/images/GearIcon.svg
  src/frontend/theme/index.js
Labels: frontend

#106 feat(GET /issues): 필터 기능 BE 대응, labelCount/milestoneCount 추가
  src/backend/controllers/issues.js
Labels: backend

#107 fix(BE routes): isLoggedIn middleware 적용
  src/backend/routes/assignees.js
  src/backend/routes/index.js
  src/backend/routes/issues.js
  src/backend/routes/labels.js
  src/backend/routes/milestones.js
Labels: backend, bug

#109 IssuePage 에 filter state 추가, filter state값에 따라 이슈 목록 받아오도록 수정
  src/frontend/components/IssuePage/FilterInputBox.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/util/makeFilterQueryString.js
  src/frontend/util/makeFilterQueryString.test.js
Labels: frontend

#112 feat(issuePage): count 뱃지에 실db값 대응
  src/frontend/components/IssuePage/IssuePage.jsx
Labels: frontend

#115 feat : 버튼 컴포넌트 분할 및 기능 구현
  src/frontend/components/IssuePage/AssigneeSortButton.jsx
  src/frontend/components/IssuePage/AuthorSortButton.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/IssuePage/LabelSortButton.jsx
  src/frontend/components/IssuePage/MilestoneSortButton.jsx
  src/frontend/components/LabelInModal/LabelInModal.jsx
Labels: frontend

#118 Hotfix사항 적용
  src/backend/config/config.js
  src/frontend/webpack.config.js
Labels: bug, devops

#120 유효하지 않은 토큰일 때 로그인 페이지로 이동하지 않는 것 수정
  src/frontend/components/PrivateRoute/PrivateRoute.jsx
Labels: bug, frontend

#122 필터 입력 변경되도록 수정, 필터 값 입력 후 Enter키로 필터 적용되도록 수정
  src/frontend/components/IssuePage/FilterInputBox.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
Labels: bug, frontend

#126 fix: parseInt Math.floor로 수정
  src/frontend/util/date.js
  src/frontend/util/date.test.js
Labels: bug

#129 Label CRUD 라우터 기능 구현
  src/backend/controllers/labels.js
Labels: backend

#130 Milestone CRUD 라우터 기능 구현
  src/backend/controllers/milestones.js
Labels: backend

#132 useContext를 활용해 FE앱상 auth 관리 구현
  src/frontend/components/App.jsx
  src/frontend/components/Login/LoginPage.jsx
  src/frontend/components/PrivateRoute/PrivateRoute.jsx
  src/frontend/components/ProvideAuth/ProvideAuth.jsx
  src/frontend/components/ProvideAuth/index.js
  src/frontend/index.js
  src/frontend/util/auth.js
  src/frontend/util/fetchProfile.js
  src/frontend/util/useFetch.js
Labels: frontend

#133 Feat/change status
  src/frontend/components/Common/Button.js
  src/frontend/components/Issue/Issue.jsx
  src/frontend/components/IssueForm/IssueForm.jsx
  src/frontend/components/IssuePage/FilterInputBox.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/IssuePage/MarkAsButton.jsx
Labels: frontend

#134 fix: 검색 안되는 것, 리렌더 안되는 것 수정
  src/frontend/components/IssuePage/FilterInputBox.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/IssuePage/MarkAsButton.jsx
  src/frontend/util/useFetch.js
Labels: frontend

#137 Assignee, Labels, Milestone 모달창 클릭으로 filter 상태 변경하도록 수정
  src/backend/controllers/assignees.js
  src/backend/controllers/issues.js
  src/frontend/components/IssuePage/AssigneeSortButton.jsx
  src/frontend/components/IssuePage/AuthorSortButton.jsx
  src/frontend/components/IssuePage/FilterInputBox.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/IssuePage/LabelSortButton.jsx
  src/frontend/components/IssuePage/MilestoneSortButton.jsx
  src/frontend/components/IssuePage/reducer.js
Labels: backend, frontend

#145 Milestone 목록, 생성, 수정 페이지 구현
  src/frontend/components/App.jsx
  src/frontend/components/Milestone/Milestone.jsx
  src/frontend/components/Milestone/ProgressBar.jsx
  src/frontend/components/Milestone/index.js
  src/frontend/components/MilestoneEdit/MilestoneEdit.jsx
  src/frontend/components/MilestoneEdit/index.js
  src/frontend/components/MilestoneForm/MilestoneForm.jsx
  src/frontend/components/MilestoneForm/index.js
  src/frontend/components/MilestonePage/MilestonePage.jsx
  src/frontend/components/MilestonePage/index.js
  src/frontend/resources/images/milestoneWhite.svg
  src/frontend/theme/index.js
Labels: frontend

#146 이슈 상세페이지 커멘트 작성 기능(BE, FE)
  src/backend/controllers/comments.js
  src/backend/routes/comments.js
  src/backend/routes/index.js
  src/frontend/components/IssueDetail/CommentForm.jsx
  src/frontend/components/IssueDetail/CommentList.jsx
  src/frontend/components/IssueDetail/IssueDetail.jsx
  src/frontend/reducer/index.js
  src/frontend/reducer/issueReducer.js
Labels: backend, frontend

#147 레이블 페이지 헤더까지 레이아웃/스타일링 잡음
  src/frontend/components/App.jsx
  src/frontend/components/Common/Button.js
  src/frontend/components/Common/LinkButton.js
  src/frontend/components/LabelPage/LabelForm.jsx
  src/frontend/components/LabelPage/LabelPage.jsx
  src/frontend/components/LabelPage/LabelPreview.jsx
  src/frontend/components/LabelPage/index.js
  src/frontend/resources/images/refresh.svg
  src/frontend/theme/index.js
  src/frontend/util/hexColor.js
Labels: frontend

#148 [FE] 이슈 작성시, 글자 수 2초 동안 띄어주는 기능 추가
  src/frontend/components/IssueForm/IssueForm.jsx
Labels: frontend

#157 [Be] Assignee, IssueLabel 모델 생성, Issue POST api 수정 (milestone, label, assignees 추가)
  src/backend/controllers/issues.js
  src/backend/models/Assignee.js
  src/backend/models/IssueLabel.js
  src/backend/models/index.js
Labels: backend

#155 fix(be GETs): 이슈, 라벨을 최신순으로 정렬
  src/backend/controllers/issues.js
  src/backend/controllers/labels.js
Labels: backend

#156 라벨 페이지 완성
  src/frontend/components/LabelPage/LabelFetchDispatcher.jsx
  src/frontend/components/LabelPage/LabelForm.jsx
  src/frontend/components/LabelPage/LabelList.jsx
  src/frontend/components/LabelPage/LabelListItem.jsx
  src/frontend/components/LabelPage/LabelPage.jsx
  src/frontend/components/LabelPage/LabelPreview.jsx
  src/frontend/theme/index.js
Labels: backend, frontend

#154 필터버튼 클릭시 나오는 드랍다운 컴포넌트 재사용가능하도록 수정
  src/frontend/components/IssueForm/IssueForm.jsx
  src/frontend/components/IssuePage/AssigneeSortButton.jsx
  src/frontend/components/IssuePage/ContentDropDown.jsx
  src/frontend/components/IssuePage/ContentFilter.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/IssuePage/LabelSortButton.jsx
  src/frontend/components/IssuePage/MilestoneSortButton.jsx
  src/frontend/components/IssuePage/filterButtonConfig.js
  src/frontend/components/ModalBtn/ModalBtn.jsx
  src/frontend/util/textReduce.js
Labels: frontend

#159 BE Milestone API 추가 마일스톤 생성 기능, 수정 기능 구현
  src/backend/controllers/milestones.js
  src/backend/routes/milestones.js
  src/frontend/components/Milestone/Milestone.jsx
  src/frontend/components/Milestone/ProgressBar.jsx
  src/frontend/components/MilestoneEdit/MilestoneEdit.jsx
  src/frontend/components/MilestoneForm/MilestoneForm.jsx
  src/frontend/components/MilestonePage/MilestonePage.jsx
Labels: backend, frontend

#163 드랍다운 켜졌을 때 드랍다운 바깥 클릭 시 드랍다운 창 닫히게 수정
  src/frontend/components/DropdownCover/DropdownCover.jsx
  src/frontend/components/DropdownCover/index.js
  src/frontend/components/IssuePage/ContentDropDown.jsx
  src/frontend/components/IssuePage/ContentFilter.jsx
  src/frontend/components/Sidebar/DropDownButton.jsx
Labels: frontend

#164 이슈 상세페이지에서 assignee 추가 삭제, label 추가 삭제를 돕는 API 작성
  src/backend/controllers/issues.js
  src/backend/models/IssueLabel.js
  src/backend/routes/issues.js
Labels: backend

#165 이슈 상세에서 newline 표현, markdown image 표현
  src/frontend/components/IssueDetail/CommentBody.jsx
  src/frontend/components/IssueDetail/CommentList.jsx
Labels: frontend

#166 이슈/댓글 작성에서 이미지 첨부 시 loading...이 뜨도록 대응
  src/frontend/components/IssueDetail/CommentForm.jsx
  src/frontend/components/IssueForm/IssueForm.jsx
  src/frontend/util/imgurEventHandler.js
Labels: frontend

#167 Milestone 관련 페이지 버그 수정 및 기능 추가
  src/frontend/components/Milestone/Milestone.jsx
  src/frontend/components/MilestoneEdit/MilestoneEdit.jsx
  src/frontend/components/MilestoneForm/MilestoneForm.jsx
Labels: bug, frontend

#168 no:assignee, no:milestone, no:labels 필터 추가, 드랍다운에서 선택 가능하도록 수정
  src/backend/controllers/issues.js
  src/frontend/components/IssuePage/ContentDropDown.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/IssuePage/NoFilterButton.jsx
  src/frontend/reducer/issueReducer.js
Labels: frontend

#169 댓글 수정기능 대응, 헤더 스타일링
  src/backend/controllers/comments.js
  src/backend/routes/comments.js
  src/frontend/components/IssueDetail/CommentForm.jsx
  src/frontend/components/IssueDetail/CommentList.jsx
Labels: backend, frontend

#172 issueForm 부분 수정
  src/frontend/components/Common/Button.js
  src/frontend/components/IssueDetail/CommentForm.jsx
  src/frontend/components/IssueForm/IssueForm.jsx
  src/frontend/theme/index.js
Labels: frontend

#173 이슈 상세페이지 open/close, 제목바꾸기 프론트 대응
  src/frontend/components/IssueDetail/CommentForm.jsx
  src/frontend/components/IssueDetail/CommentList.jsx
  src/frontend/components/IssueDetail/IssueDetail.jsx
Labels: bug, frontend

#174 마일스톤 Nav 버튼 레이블 페이지랑 같은 것으로 수정, 필터 InputBox에 돋보기 아이콘 추가
  src/frontend/components/Common/LinkButton.js
  src/frontend/components/IssuePage/ContentFilter.jsx
  src/frontend/components/IssuePage/FilterButton.jsx
  src/frontend/components/IssuePage/FilterInputBox.jsx
  src/frontend/components/IssuePage/IssuePage.jsx
  src/frontend/components/LabelPage/LabelPage.jsx
  src/frontend/components/MilestonePage/MilestonePage.jsx
  src/frontend/resources/images/scopeIcon.svg
Labels: bug, frontend

#176 hotfix(LabelForm): 새 라벨/라벨 수정에서 버튼 활성화 조건 버그 해결
  src/frontend/components/LabelPage/LabelForm.jsx
Labels: bug, frontend
